---
import './CodingActivity.styles.scss';
import HeaderTitle from '../HeaderTitle/HeaderTitle.astro';
---

<div class="coding-activity">
  <HeaderTitle text="Coding Activity" />
  <figure><embed src="https://wakatime.com/share/@porfidev/46f0c52f-c813-4153-a8c6-bcf04f87bd6f.svg" /></figure>
</div>
