body {
  font-family: 'Anonymous Pro', monospace;
  background-color: var(--main-background);
  color: var(--primary);
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 872px;
  min-height: 100vh;
}
