---
import 'normalize.css/normalize.css';
import '../styles/fonts.scss';
import '../styles/colors.scss';
import '../styles/media-querys.scss';
import '../styles/global.scss';
import Footer from '../components/Footer/Footer.astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';
import HeaderTitle from '../components/HeaderTitle/HeaderTitle.astro';
import TopLanguages from '../components/TopLanguages/TopLanguages.astro';
import CodingActivity from '../components/CodingActivity/CodingActivity.astro';
---

<html lang="en">
  <head>
    <GoogleAnalytics />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>porfi.dev</title>
  </head>
  <body>
    <div class="content">
      <header>
        <h1>porfi.dev</h1>
      </header>

      <main>
        <HeaderTitle text="Current Activities" />
        <p>
          I am working for <a href="https://www.citi.com.mx/">Citi</a> helping to build new experiences for <a
            href="https://coca-colafemsa.com/">Coca Cola Femsa.</a
          >
        </p>

        <HeaderTitle text="Portfolio" />
        <p>
          Offset projects that I have been working on.
        </p>
        <div>
          <ul>
            <li><a href="https://calculadoradeinversiones.com/">Calculadora de Inversiones</a></li>
          </ul>
        </div>

        <HeaderTitle text="Classic Portfolio" />
        <p>
          Old development projects updated to use it like a demonstration.
        </p>
        <div>
          <ul>
            <li><a href="https://above-peacock-sweet.ngrok-free.app/comentarios/">Buzón Virtual ICM</a></li>
          </ul>
        </div>

        <!--<article>-->
        <!--  <HeaderTitle text="Biography" />-->
        <!--  <p><span>1986</span> Born in Tlalnepantla, México.</p>-->
        <!--  <p><span>1998</span> Born in Tlalnepantla, México.</p>-->
        <!--</article>-->

        <TopLanguages />
        <CodingActivity />
      </main>

      <Footer />
    </div>
  </body>
</html>
