---
import '../styles/fonts.scss';
import '../styles/colors.scss';
import '../styles/media-querys.scss';
import '../styles/global.scss';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="content">
      <main>
        <h1>porfi.dev</h1>

        <p>Hi there</p>
      </main>

      <footer>
        <div>
          <p>
            Powered by <a href="https://astro.build">Astro</a> & <a href="https://firebase.google.com/">Firebase</a>
          </p>
          <p>© 2024 <a href="mailto:hola@porfi.dev">Porfirio Chávez</a> | All rights reserved</p>
        </div>
        <div>
          <p>_</p>
          <p>
            <a href="https://github.com/porfidev">github</a> | <a href="https://www.linkedin.com/in/porfidev/"
              >linkedin</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
