@use '../../styles/media-querys' as *;

footer {
  margin-top: auto;
  border-top: 1px solid var(--secondary);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include phone {
    flex-direction: column;
    align-items: center;
  }

  p {
    margin: 0.2rem;

    @include phone {
      text-align: center;
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;

    @include phone {
      margin: 1rem;
    }

    a {
      padding: 0 0.5rem;

      &:hover path {
        fill: var(--highlight);
      }
    }

    path {
      fill: var(--emphasis);
    }
  }
}

a {
  text-decoration: none;
  color: var(--emphasis);

  &:hover {
    text-decoration: underline;
    color: var(--highlight);
  }
}
