---
import './Footer.styles.scss';
const today = new Date();
import Github from './assets/Github';
import LinkedIn from './assets/LinkedIn';
---

<footer>
  <div>
    <p>
      Powered by <a href="https://astro.build">Astro</a> & <a href="https://firebase.google.com/">Firebase</a>
    </p>
    <p>&copy; 2022-{today.getFullYear()} <a href="mailto:hola@porfi.dev">Porfirio Chávez</a> | All rights reserved</p>
  </div>
  <div class="socials">
      <a href="https://github.com/porfidev"><Github width="24" /></a> <a href="https://www.linkedin.com/in/porfidev/"
        ><LinkedIn width="24" />
      </a>
  </div>
</footer>
<div>
  <div id="wcb" class="carbonbadge wcb-d"></div>
  <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer is:inline></script>
</div>
