---
import './Footer.styles.scss';
const today = new Date();
---

<footer>
  <div>
    <p>
      Powered by <a href="https://astro.build">Astro</a> & <a href="https://firebase.google.com/">Firebase</a>
    </p>
    <p>&copy; 2022-{today.getFullYear()} <a href="mailto:hola@porfi.dev">Porfirio Chávez</a> | All rights reserved</p>
  </div>
  <div>
    <p>&nbsp;</p>
    <p>
      <a href="https://github.com/porfidev">github</a> | <a href="https://www.linkedin.com/in/porfidev/"
    >linkedin</a
    >
    </p>
  </div>
</footer>
