@use '../../styles/media-querys' as *;

footer {
  margin-top: auto;
  border-top: 1px solid var(--secondary);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include phone {
    flex-direction: column;
    align-items: center;
  }

  p {
    margin: 0.2rem;

    @include phone {
      text-align: center;
    }
  }
}

a {
  text-decoration: none;
  color: var(--emphasis);

  &:hover{
    text-decoration: underline;
    color: var(--highlight);
  }
}
